[Unit]
Description=Zip smtp2web archives
# Only start if the script exists
ConditionFileIsExecutable=/usr/local/bin/zip-smtp2web-archives.sh

[Service]
Type=oneshot
User=smtp2web
Group=smtp2web
WorkingDirectory=/var/lib/smtp2web
ExecStart=/usr/local/bin/zip-smtp2web-archives.sh

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
UMask=0027

RuntimeDirectory=smtp2web
RuntimeDirectoryMode=0750

ReadWritePaths=/var/lib/smtp2web /var/log/smtp2web.log /run/smtp2web

StandardOutput=journal
StandardError=journal
TimeoutStartSec=30min
