[Unit]
Description=Zip smtp2web archives
# Only start if the script exists
ConditionFileIsExecutable=/usr/local/scripts/zip-smtp2web-archives.sh

[Service]
Type=oneshot
User=smtp2web
Group=smtp2web
WorkingDirectory=/var/lib/smtp2web

ExecStart=/usr/local/scripts/zip-smtp2web-archives.sh

# Hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/var/lib/smtp2web
UMask=0027

# Create /run/smtp2web for this service
RuntimeDirectory=smtp2web
RuntimeDirectoryMode=0750

# Allow writes where needed
ReadWritePaths=/var/lib/smtp2web /var/log/smtp2web.log /run/smtp2web

StandardOutput=journal
StandardError=journal

# Fail fast if something goes wrong
TimeoutStartSec=30min
